li {
  display: flex;
  border-bottom: 1px solid #ccc;
}
li:last-child {
  border: none;
}
li:hover{
  background-color: aqua;
}
.key-column {
  flex:50%;
}
.value-column {
  flex:50%;
}
#get-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
}
#set-section {
  display: flex;
  width: 50%;
  justify-content: center;
}
#wrapper {
  display: flex;
  flex-direction: row;
}
input {
  text-align: center;
}
#logout-section {
  text-align:center;
}
