<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>The GETSET Station</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
  <h2>Get and set your key-value pairs below</h2>
  <h3>You are logged in as: {{ session['username']}}</h3>
  <div id="wrapper">
    <div id="get-section">
      <form id="get-value">
        <input required id="search-key" name="sKey" type="text" placeholder="Enter Key Here">
        <button class="get-set-buttons" type="submit"> Get Value</button>
      </form>
      <h4 id="get-result"></h4>
    </div>
    <div id="set-section">
      <form id="submit-pair">
        <input required name="gKey" id="key-input" type="text" placeholder="new key">
        <input required name="value" id="value-input" type="text" placeholder="new value">
        <button class="get-set-buttons" type="submit"> Submit key-value pair</button>
      </form>
      <h4 id="set-result"></h4>
    </div>
  </div>
  <form id="logout-section" action="/logout" method="GET">
    <button id="logout-button" type="submit">Log Out</button>
  </form>
</body>

<script type="text/javascript" src="{{url_for('static', filename='getset.js')}}"></script>
<link rel="stylesheet"
      type="text/css"
      href="/static/style.css"/>
</html>
